{% extends 'base.html' %}

{% block content %}
<main>
    <nav>
        <ul>
            <li>
                <a href="{% url 'create_category' %}">Create category</a>
              </li>
        </ul>
    </nav>
    <table
    <thead>
        <tr>
            <th>Name</th>
            <th>Number of receipts</th>
        </tr>
    </thead>
    <tbody>
        {% for item in expense_category_list %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.receipts.all|length }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table
</main>
{% endblock content %}