<!doctype html>
<html>
<head>
<title></title>
</head>
<body>
<main>
    <div>
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %} {{ form.as_p }}
            {% comment %} <input type="text" name="username"
            <input type="password" name="password" {% endcomment %}
            <button>Login</button>
          </form>
    </div>

</main>
</body>
</html>