{% extends 'base.html' %}

{% block content %}
<main>
    <nav>
        <ul>
        <li>
            <a href="{% url 'create_receipt' %}">Create Receipt</a>
          </li>
        </ul>
    </nav>
<h1>My Receipts</h1>
<table
    <thead>
        <tr>
            <th>Vendor</th>
            <th>Total</th>
            <th>Tax</th>
            <th>Date</th>
            <th>Category</th>
            <th>Account</th>
        </tr>
    </thead>
    <tbody>
        {% for name in receipt %}
        <tr>
            <td>{{ name.vendor }}</td>
            <td>{{ name.total }}</td>
            <td>{{ name.tax }}</td>
            <td>{{ name.date }}</td>
            <td>{{ name.category }}</td>
            <td>{{ name.account }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table
</main>
{% endblock content %}